body {
  font-family: sans-serif;
  text-align: center;
}
footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  text-align: right;
}
form {
  text-align: center;
  margin-bottom: 2px;
}
h1 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h6 {
  text-align: left;
  margin-top: 10px;
}
.main-card {
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
  display: block;
  margin: 30px auto;
  max-width: 600px;
}
.maintemp {
  font-size: 40px;
}
.weather-forecast-day {
  font-size: 13px;
  font-weight: bold;
}
.weather-forecast-temp {
  font-size: 14px;
}
.min-temp {
  opacity: 0.8;
}
.container-md {
  display: flex;
}
.col-5 {
  display: block;
  text-align: center;
}
.col-4 {
  margin: auto;
  text-align: left;
}
.degrees {
  font-size: 20px;
  margin-left: 3px;
}

#celsius,
#fahren {
  text-decoration: none;
}
.maintemp .active {
  color: black;
  cursor: default;
}
.maintemp .active:hover {
  text-decoration: none;
}
